@using Vidly.Models;
@using System.Data.Entity;

@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title.</h2>


<a href="/Customer/NewCustomer"><button class="btn btn-primary">New Customer</button></a>
<hr/>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Discount Rate</td>
            <td>Delete</td>

        </tr>
    </thead>
    
    <tbody>
    
    </tbody>
    
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customer/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href = '/Customer/CustomerEdit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "memberShipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class  = 'btn-link js-delete' data-customer-id =" +
                                data +
                                ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure to delete this customer?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customer/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

