@using Vidly.Models;

@{
    ViewBag.Title = "Customer Detail";
}
}

<h2>@ViewBag.Customer.Name</h2>
<ul>
    @if (ViewBag.Customer.Bith != null)
    {
        <li>Date of Birth: @ViewBag.Customer.Bith</li>
    }
    <li>@ViewBag.Customer.MemberShipType.Name</li>
</ul>
