@using Vidly.Models;

@{ 
    ViewBag.Title = "Movie Detail";
}

<h2>@ViewBag.Movie.Name</h2>
<ul>
    <li>Name: @ViewBag.Movie.Name</li>
    <li>Genre: @ViewBag.Movie.Genre</li>
    <li>Published Year: @ViewBag.Movie.Year</li>
</ul>
