<appSettings>
  <add key="MailServer" value="demo-mail-server"/>

  <add key="FacebookAppId" value="493644551446124"/>
  <add key="FacebookAppSecret" value="df44844f06dd523e160d8266287a26c9"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>